{{!-- <form action="/todo/new" method="POST">
  <input type="text" placeholder="name" name="name">
  <button type="submit">Create</button>
</form> --}}

<form action="/todos/new" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>